doctype html 
html
  head
    title Dance Academy
    block scripts
    block style
  body
    nav#navbar.top 
        ul
            div#logo
                img(src="../static/img/logo.jpg")
                | &nbsp SDA 
            li #[a(href='/') Home] 
            li #[a(href='/') About Us] 
            li #[a(href='/') Services] 
            li #[a(href='/') Class Info] 
            li #[a(href='/contact') Contact Us]

    block content 
    footer#footer
        | Copyright 2021 reserved for SDA.com 