*{
    margin: 0px;
    box-sizing: border-box;
    padding: opx;

}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img{
    height: 42px;
    /* filter: invert(1); */
}

#navbar{
    background-color: black;
    padding: 30px 4px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    
    
    
}

#navbar li{
    list-style: none;
    
}

#navbar li a{
    text-decoration: none;
    padding: 7px 20px;
    color: white;
    
    
}

#introSection{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    height: 300px;
    background-color: black;
}
#missionsection{
    height: 300px;
    /* background-color: rgb(233, 223, 211); */
    /* width: 90%; */
    margin: auto;
    
}
#missionsection h2{
    text-align: center;
}
.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    margin: 0px 20px;
}

.card{
    display: inline-block;
    /* align-items: center; */
    /* flex-direction: row; */
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin-left: 33px;
    margin-top: 10px;
    /* margin-right:95px; */
    height: 233px;
}
.card h3{
    padding-top: 5px;
    text-align: center;
}
.card-img img{
    height: 100px; 
    padding: 10px;
    margin-top: 20px;
}
.card-content{
    padding: 10px;
    text-align: center;
}
#sponsorsSection{
    height: 300px;
    background-color: rgb(235, 159, 171);
}
#footer{
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 20px
}

#sponsorsSection h2{
    text-align: center;
}